
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-summary ul.summary li a{
		white-space:pre-wrap;	
}

.book .book-summary ul.summary li span {
    cursor: not-allowed;
    opacity: 1;
	white-space:pre-wrap;
}

.book .book-summary ul.summary li.active > a {
  color: #0c2647;
  font-weight: bold;
}

.book .book-summary ul.summary li > a:hover {
  color: #0c2647;
  font-weight: bold;
}

.book .book-body .page-wrapper .page-inner section.normal {
	/* background-image: url("fondo.png"); */
	/* background-repeat: repeat-y; */
	/* background-size: 100% 100%; */
  
	
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section {
        /* background-image: url("fondo2.png"); */
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section .photobiography_information{
	background:rgb(234,218,166);
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section .photobiography_information{
	background:rgb(50,54,70);
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section .photobiography_photo {	
	background:rgb(50,54,70);
	background-image: url("FondoPhoto3.png");	
	background-position: center top; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 158px 200px;
}


.book.color-theme-1 .book-body .page-wrapper .page-inner section .photobiography_photo {	
	background:rgb(234,218,166);
	background-image: url("FondoPhoto2.png");	
	background-position: center top; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 158px 200px;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #0c2647;
  font-weight: bold;
}

.book .book-body .page-wrapper .page-inner section.normal code {
  background: #dfe3eb;
}



.summaryblock{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  color: #333E50;
  border-style: solid;
  border-width: 5px;
  border-color: #0670B5;
}

.summaryblock > a {
  color: #d8dfee;
}

.part > span {
  color: #5c677e;
}

h1, h2, h3, h4, h5, h6 {
  color: #5c677e;
}

body {
  color: #333E50;
  text-align: justify;
}

div.book-header.fixed[style] {
  background-color: #222930 !important;
}

.book .book-header .btn {
  color: #b8b5b4;
}

.book .book-header .btn:hover {
    position: relative;
    text-decoration: none;
    color: #fff;
    background: 0 0;
    transform:scale(1.3,1.3);
}

.book .book-header h1 a, .book .book-header h1 a:hover {
  color: #fff;
}


.photobiography3 {
  /* Por defecto en modo fila, uno al lado del otro */
  display: flex;
  flex-flow: row;  
  padding-bottom: 20px;
}

.photobiography4 {
  background:rgba(247, 247, 247, 0.2);
}

.photobiography_information{
	background:rgb(231,231,231);
	flex: 0 0 auto; 
	width:612px; 	
  
  overflow: auto;
	margin-top: 15px;
	margin-bottom: 2px;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	text-align: right;
}

.photobiography_photo {	
  background:rgb(231,231,231);
  background-image: url("FondoPhoto.png");
  background-position: center top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 158px 200px;
  flex: 0 0 auto;  
  width: 158px;
  min-height: 200px;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  /* margin-right: 20px; */
  /* margin-left: 20px; */
  text-align: center;
  
  overflow: auto;
}

.photobiography_photo img{
   /* width: 100%; */
   margin-top: 48px;
   width: 124px;
   height: 124px;
}

@media (max-width: 770px) {
  .photobiography3 {
    /* si es muy angosta, uno debajo del otro */
    flex-flow: column;
  }
}

@media (max-width: 770px) {
  .photobiography_information {
    flex: 0 0 auto;  
    width:90%; 
    margin-top: 0.1px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
  text-align: right;
  overflow: auto;
  }
}

@media (max-width: 770px) {
.photobiography_photo {	
	background:rgb(231,231,231);
	background-image: url("FondoPhoto.png");
	background-position: center top; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 158px 200px;
	flex: 0 0 auto;    
	width: 158px;
  min-height: 210px;
  
  overflow: auto;
	/* margin-top: 20px; */
	/* margin-bottom: 20px; */
	/* margin-right: 20px; */
	/* margin-left: 20px; */
	text-align: center;
  }
  .photobiography_photo img{
	/* width: 100%; */
	margin-top: 48px;
	width: 124px;
	height: 124px;
  }
}



.imagestyle {
	display:block;	
}

.contenido {
  /* Por defecto en modo fila, uno al lado del otro */
  display: flex;
  flex-flow: row;
}


.contenido_information{
  flex: 0 0 auto;  
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0.1px;
  margin-left: 0.1px;
}

.contenido_photo {
  flex: 0 0 auto;  
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 20px;
  text-align: center;
}

@media (max-width: 750px) {
  .contenido {
    /* si es muy angosta, uno debajo del otro */
    flex-flow: column;
  }
}

@media (max-width: 750px) {
  .contenido_information {
    flex: 0 0 auto;  
    margin-top: 0.1px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 750px) {
.contenido_photo {
    flex: 0 0 auto;    
    margin-top: 20px;
    margin-bottom: 0.1px;
    margin-right: 20px;
    margin-left: 20px;
  }
}



.imagecontenido1 {
  height: 270px;
}

.imagecontenido2 {
  height: 270px;
}

.imagecontenido1 img{
  height: 250px;
}

.imagecontenido2 img{
  height: 114px;
  width: 219px;
}

.imagecontenido {
  /* Por defecto en modo fila, uno al lado del otro */
  display: flex;
  justify-content: space-between;  
}

@media (max-width: 750px) {
  .imagecontenido {
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: column;
  }
  .imagecontenido1 {
    height: 270px;	
	text-align: center;
  }

  .imagecontenido2 {
	height: 270px;
	text-align: center;
  }
}



.segmentocontenido {
  /* Por defecto en modo fila, uno al lado del otro */
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
}

.panelnumeropaginatitulo {
  /* Por defecto en modo fila, uno al lado del otro */
  display: flex;
  justify-content: flex-start;
  width: 47%;
}

.sep {
  width: 6%;
  height: 25px;
}

@media (max-width: 750px) {
  .segmentocontenido {
	  margin-top: 20px;
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: column;
	  margin-right: 20px;
	  margin-left: 20px;
  }
  .panelnumeropaginatitulo {
  /* Por defecto en modo fila, uno al lado del otro */
  display: flex;
  justify-content: flex-start;
  width: 100%;
  }
}

.panelnumeropagina {
  font-size:26px;
  margin-right: 20px; 
}

.panelnumeropaginalink a{
  color: #0670B5;
  font-weight: bold;
}

.paneltitulolink a{
  color: black;
  font-weight: bold;
}
